textarea {
  resize: none;
}

.channel {
}

.message-list {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 15px;
  margin-bottom: 15px;
}

.technical-message {
  color: #888;
  font-style: italic;
}

.name-list {
  padding: 0;
}

.name-list-item {
  list-style: none;
  padding: 5px;
  cursor: pointer;
  font-weight: 600;
}

.name-list-item:hover {
  background-color: #dddddd;
}
